body {
    margin: 0;
    background: #0D0D0D;
}
p {
    margin: 0;
}
@font-face {
    font-family: 's';
    src: url(./fonts/satoshi.ttf);
}
@font-face {
    font-family: 'c';
    src: url(./fonts/compacta.ttf);
}
.veil {
    position: absolute;
    font-family: 'c';
    font-size: 12vmax;
    color: #B02626;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inspo {
    position: absolute;
    font-family: 's';
    font-size: 1.5vmax;
    bottom: 5vmin;
    left: 50%;
    transform: translateX(-50%);
    color: #E4D7C7;
}
.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.bg img {
    position: absolute;
    left: 50%; top: 50%; transform: translate(-50%, -50%);
}

@media screen and (min-width: 175vh){
    .bg img {
        min-height: 100vh;
        width: 100vw;
    }
}
@media screen and (max-width: 175vh){
    .bg img {
        min-width: 100vw;
        height: 100vh;
    }
}