body {
    margin: 0;
    background: #0D0D0D;
    overflow: hidden;
}
p {
    margin: 0;
}
@font-face {
    font-family: 's';
    src: url(./fonts/satoshi.ttf);
}
@font-face {
    font-family: 'c';
    src: url(./fonts/compacta.ttf);
}
.veil {
    position: absolute;
    font-family: 'c';
    font-size: 12vmax;
    color: #B02626;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inspo {
    position: absolute;
    font-family: 's';
    font-size: 1.5vmax;
    bottom: 5vmin;
    left: 50%;
    transform: translateX(-50%);
    color: #E4D7C7;
}
.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    overflow: visible;
}
.bg img {
    position: absolute;
    margin-left: -1.5vw;
    left: 50%; top: 50%; transform: translate(-50%, -50%);
}

@media screen and (min-width: 175vh){
    .bg img {
        min-height: 300vh;
        width: 300vw;
    }
}
@media screen and (max-width: 175vh){
    .bg img {
        min-width: 300vw;
        height: 300vh;
    }
}
.mobile {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#B02626;
    text-shadow: #B02626 0px 0px 5px;
    font-family: 's';
    font-weight: 700;
    font-size: 2vmax;
    width: 100vw;
    text-align: center;
}
@media screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .loading-bar {
        display: none;
    }
}
.sound {
    position: absolute;
    right: 1.5vmax;
    top: 1.5vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5vmin 0.75vmin;
    z-index: 1000;
}
.sound img {
    transform: scale(0.75);
    cursor: pointer;
}
#subtitles {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10vmin;
    width: 80vw;
    font-size: 2vmax;
    font-family: 's';
    font-weight: 200;
    color:#E4D7C7;
    z-index: 1000;
}
.loading-bar {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 7.9vmax;
    height:4px;
    background: #F8F8F8;
    overflow:visible;
    margin: 0;
    padding: 0;
    z-index: 3;
}
.loading-bar::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0vmax;
    height: 5px;
    animation: width 4s forwards;
    background: #111211;
    z-index: 4;
}
@keyframes width {
    0% {
        width: 0vmax;
    }
    99.9% {
        width: 8vmax;
    }
    100% {
        width: 8vmax;
    }
}
.cbtncont {
    position: absolute;
    left: 0;
    top: 0;
    height: 5vmin;
    width: 8vmax;
    overflow: hidden;
    z-index: 2;
}
.cbtn {
    position: absolute;
    left: 0;
    top: -5vmin;
    height: 5vmin;
    width: 8vmax;
    background: #111211;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: slide-d 500ms forwards;
    animation-delay: 4s;
}
@keyframes slide-d {
    0% {
        top: -5vmin;
    }
    99.9% {
        top: 0vmin;
    }
    100% {
        top: 0vmin;
    }
}
.c {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 0.5vmin;
    font-size: 1vmax;
    font-family: 's';
    font-weight: 400;
    color: #AEC3B7;
}
.c div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clogo img {
    transform: scale(0.65);
    margin-top: 0.2vmin;
}
[class$="window"] {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 60vmax;
    height: 75vmin;
    background: #1212129c;
    backdrop-filter: blur(1px);
    z-index: 10;
    font-family: 's';
    color:#AEC3B7;
    transform-origin: top left;
    border-radius: 3px;
}
.back {
    position: absolute;
    left: 2vmax;
    top: 2.2vmin;
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 0.5vmin;
    cursor: pointer;
}
.back div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btxt {
    border-left: #AEC3B7 1px solid;
    font-weight: 400;
    font-size: 1vmax;
    padding-left: 0.5vmin;
}
.cart-txt {
    position: absolute;
    left: 2vmax;
    top: 7vmin;
    font-weight: 600;
    font-size: 2vmax;
}
.cart-items {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16vmin;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 4vmax;
    row-gap: 0.5vmin;
    width: 80%;
    height: 65%;
    overflow-x: none;
    overflow-y: auto;
    padding-right: 0.5vmax;
}
.cart-items::-webkit-scrollbar {
    width: 2px;
    margin-left: 0.5vmax;
    background: #0505056d;
}
.cart-items::-webkit-scrollbar-thumb {
    background:#AEC3B7;
}
.cart-item {
    background: #0d0d0da4;
    border-radius: 2px;
    border:none;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.cart-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vmax;
}
.cross {
    align-items: center;
    cursor: pointer;
}
.item-sno {
    font-weight: 400;
    font-size: 0.75vmax;
}
.item-name {
    font-weight: 600;
    font-size: 1vmax;
}
.cart-item:hover {
    border: #323433 1px solid;
}
.proceed {
    position: absolute;
    bottom: 2vmin;
    right: 2vmax;
    height: 5vmin;
    width: 10vmax;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.p {
    display: grid;
    grid-template-columns: 22.5% 77.5%;
    font-size: 0.75vmax;
    font-family: 's';
    font-weight: 400;
    color: #AEC3B7;
}
.p div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plogo img {
    transform: scale(0.45);
    margin-top: 0.2vmin;
}
@keyframes popout {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    99.9% {
        transform: scale(0) translate(-50%, -50%);
    }
    100% {
        transform: scale(0) translate(-50%, -50%);
    }
}
@keyframes popin {
    0% {
        transform: scale(0) translate(-50%, -50%);
    }
    99.9% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}
.delivery-window {
    display: none;
}
/* .cart-window {
    display: none;
} */
.delivery-txt {
    position: absolute;
    left: 2vmax;
    top: 7vmin;
    font-weight: 600;
    font-size: 2vmax;
}
@keyframes up {
    0% {
        top: 25%
    }
    99.9% {
        top: -25%;
    }
    100% {
        top: -25%;
    }
}
@keyframes down {
    0% {
        bottom: 5vmin
    }
    99.9% {
        bottom: -5vmin
    }
    100% {
        bottom: -5vmin
    }
}
@keyframes enlarge {
    0% {
        width: 300vw;
        margin-left: -1.5vw;
    }
    99.9% {
        width: 6500vw;
        margin-top: 150vh;
        margin-left: -35vw;
    }
    100% {
        width: 6500vw;
        margin-top: 150vh;
        margin-left: -35vw;
    }
}
.map {
    position: absolute;
    top: 7vmin;
    right: 3vmax;
}
.map img {
    width: 30vmax;
}
.progress {
    position: absolute;
    bottom: 5vmin;
    left: 50%;
    transform: translate(-50%);
}
.rg img {
    width: 50vmax;
}
.rg {
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 1vmin;
    font-size: 1vmax;
    width: min-content;
}
.cg {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 20% 58% 7%;
    text-wrap: nowrap;
}
.cg p:nth-child(1) {
    margin-left: -3.5vmax;
}
.details {
    position: absolute;
    top: 15vmin;
    left: 2vmax;
}
.spiral {
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 18vmax;
    opacity: 0.2;
    color:#AEC3B7;
    font-family: "c";
    z-index: 20;
    text-align: center;
    line-height: 50vmin;
    pointer-events: none;
}
.spiral span {
    visibility:hidden;
}