body {
    margin: 0;
    background: #0D0D0D;
}
p {
    margin: 0;
}
@font-face {
    font-family: 's';
    src: url(./fonts/satoshi.ttf);
}
@font-face {
    font-family: 'c';
    src: url(./fonts/compacta.ttf);
}
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.head {
    font-size: 8vmax;
    font-family: "c";
    color: #F8F8F8;
    margin-bottom: 2vmax;
}
.head span {
    color: #D40303;
}
#uname, #psw {
    background: #0d0d0d;
    border-bottom-right-radius: 5vmax;
    border-top-right-radius: 5vmax;
    border-left: transparent 1px solid;
    border-top: #F8F8F8 1px solid;
    border-bottom: #F8F8F8 1px solid;
    border-right: #F8F8F8 1px solid;
    width: 21.5vmax;
    color: #f8f8f8;
    font-family: 's';
    font-weight: 400;
    padding-left: 1vmax;
}
.un, .pw {
    display: inline-flex;
    margin-bottom: 2vmax;
    height: 3.25vmax;
    position: relative;
    caret-color: transparent;
}
input:focus {
    outline: none;
    background: transparent;
}
[class^="logo-"] {
    background: #0d0d0d;
    border-bottom-left-radius: 5vmax;
    border-top-left-radius: 5vmax;
    border-right: transparent 1px solid;
    border-top: #F8F8F8 1px solid;
    border-bottom: #F8F8F8 1px solid;
    border-left: #F8F8F8 1px solid;
    width: 3.5vmax;
    margin-right:-1px;
    position: relative;
}
.submit {
    color: #0D0D0D;
    border-radius: 5vmax;
    border: none;
    background:#D40303;
    width: 12vmax;
    height: 6vmin;
    font-family: 's';
    font-weight: 800;
}
.redir-sign {
    margin-bottom: 2.5vmax;
    color: #F8f8f8;
    font-family: 's';
    font-weight: 500;
    font-size: 1vmax;
}
a {
    color: #F8F8F8;
}
[class^="box-"] {
    height: 1.5vmax;
    width: 3.5vmax;
    border-right: #F8F8F8 solid 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hs {
    position: absolute;
    right: 1.25vmax;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.h {
    display: none;
    margin-top: 0.75vmin;

}