<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your cart</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="otherlogo">
        <a id="jf"><img src="../static/imgs/logo.svg" alt=""></a>
    </div>
    <div class="carthead">
        <p>CART</p>
    </div>
    <div class="grid">
        <div class="row">
            <div class="column">
                Product Name
            </div>
            <div class="column">
                Amount
            </div>
            <div class="column">
                Price
            </div>
        </div>
        <div class="cartph">
            <p>Looks like there's nothing here.</p>
        </div>
    </div>
    <div class="conc">
        <div>
            <a id = "ff">continue shopping -></a>
        </div>
        <div>
            <p>Total: </p>
        </div>
        <div>
            <p id = "total">₹3520</p>
        </div>
    </div>
    <div class="ordering">
        <div class="orderhead">
            <p>Ordering</p>
        </div>
        <div class="paymentmethods">
            <div class="pmhead">
                <p>PAYMENT METHOD</p>
            </div>
            <div class="options">
                <label title="Cash on Delivery">
                    <input type="radio" name="pm" value="0" checked/>                     
                    <img />
                    Cash on Delivery
                </label>
                <label title="Credit/Debit Card">
                    <input type="radio" name="pm" value="1" />
                    <img />
                    Credit/Debit Card
                </label>   
            </div>
        </div>
        <div class="timeofdeli">
            <div class="tdhead">
                <p>TIME OF DELIVERY</p>
            </div>
            <div class="options">
                <label title="As Soon As Possible">
                    <input type="radio" name="td" value="0" checked/>                     
                    <img />
                    As Soon As Possible
                </label>
                <label title="On a Scheduled Date">
                    <input type="radio" name="td" value="1" />
                    <img />
                    On a Scheduled Date
                </label>   
            </div>
            <input type="date" class = "stddate">
        </div>
        <div class="deliveryinstruct">
            <div class="instructhead">
                <p>DELIVERY INSTRUCTIONS</p>
            </div>
            <div class="instructdesc">
                <p>(optional)</p>
            </div>
            <input type="text" class="instructinput">
        </div>
    </div>
    <a id = "delia">
        <div class="pay">
            Pay For Order
        </div>
    </a>
    <script src="../static/cart.js"></script>
    <script>
        document.getElementById("delia").addEventListener("click", () => {
            window.location.href=`delivery?total=${document.getElementById("total").innerHTML.slice(1)}&username=${(window.location.href.split("?username=")[1]).split("&aw")[0]}`
        })
    </script>
</body>
</html>