<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your cart</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="otherlogo">
        <a href="./"><img src="../static/imgs/logo.svg" alt=""></a>
    </div>
    <div class="carthead">
        <p>CART</p>
    </div>
    <div class="grid">
        <div class="row">
            <div class="column">
                Product Name
            </div>
            <div class="column">
                Amount
            </div>
            <div class="column">
                Price
            </div>
        </div>
    </div>
    <div class="conc">
        <div>
            <a href = "/#delivery">continue shopping -></a>
        </div>
        <div>
            <p>Total: </p>
        </div>
        <div>
            <p>₹3520</p>
        </div>
    </div>
    <div class="ordering">
        <div class="orderhead">
            <p>Ordering</p>
        </div>
        <div class="paymentmethods">
            <div class="pmhead">
                <p>PAYMENT METHOD</p>
            </div>
            <div class="options">
                <label title="Cash on Delivery">
                    <input type="radio" name="pm" value="0" checked/>                     
                    <img />
                    Cash on Delivery
                </label>
                <label title="Credit/Debit Card">
                    <input type="radio" name="pm" value="1" />
                    <img />
                    Credit/Debit Card
                </label>   
            </div>
        </div>
        <div class="timeofdeli">
            <div class="tdhead">
                <p>TIME OF DELIVERY</p>
            </div>
            <div class="options">
                <label title="As Soon As Possible">
                    <input type="radio" name="td" value="0" checked/>                     
                    <img />
                    As Soon As Possible
                </label>
                <label title="On a Scheduled Date">
                    <input type="radio" name="td" value="1" />
                    <img />
                    On a Scheduled Date
                </label>   
            </div>
            <input type="date" class = "stddate">
        </div>
        <div class="deliveryinstruct">
            <div class="instructhead">
                <p>DELIVERY INSTRUCTIONS</p>
            </div>
            <div class="instructdesc">
                <p>(optional)</p>
            </div>
            <input type="text" class="instructinput">
        </div>
    </div>
    <a href = "delivery">
        <div class="pay">
            Pay For Order
        </div>
    </a>
    <script>
        if(Number((window.location.href.split("?aw=")[1]).split["&"][0]) > 0) {
            document.getElementsByClassName("grid")[0].append(
                ```
                <div class="row">
                    <div class="column">
                        <div class="interrow">
                            <p>Alan Wake Meal Box</p>
                        </div>
                        <div class="interrow">
                            <p>1 Alan Wake funko pop, 1 midnight lasagna, 2 dark place old fashioned, 1 blackened venison stew, 1 ink dipped calamari, 1 lake mirror panna cotta</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="amt">
                            <div class="minus">
                                <p>-</p>
                            </div>
                            <div class="num">
                                <p>${Number((window.location.href.split("?aw=")[1]).split["&"][0])}</p>
                            </div>
                            <div class="plus">
                                <p>+</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <p>₹1210</p>
                    </div>
                </div>
            ```
            )
        }
        if(Number((window.location.href.split("?ms=")[1]).split["&"][0]) > 0) {
            document.getElementsByClassName("grid")[0].append(
            ```
                <div class="row">
                    <div class="column">
                        <div class="interrow">
                            <p>Mr. Scratch Meal Box</p>
                        </div>
                        <div class="interrow">
                            <p>1 Mr. Scratch funko pop, 1 charred ribeye with ritual butter, 2 coffee world shake, 1 ash rubbed duck breast, 1 rye & rot cheese board, 1 sage & berry crumble</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="amt">
                            <div class="minus">
                                <p>-</p>
                            </div>
                            <div class="num">
                                <p>${Number((window.location.href.split("?ms=")[1]).split["&"][0])}</p>
                            </div>
                            <div class="plus">
                                <p>+</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <p>₹1210</p>
                    </div>
                </div>
            ```
            )
        }
        if(Number(window.location.href.split("?sa=")[1]) > 0) {
            document.getElementsByClassName("grid")[0].append(
                ```
                <div class="row">
                    <div class="column">
                        <div class="interrow">
                            <p>Saga Andersson Meal Box</p>
                        </div>
                        <div class="interrow">
                            <p>1 flashlight keychain, 1 smoked forest toast, 1 sage & berry crumble, 1 watery whisky sour</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="amt">
                            <div class="minus">
                                <p>-</p>
                            </div>
                            <div class="num">
                                <p>${Number(window.location.href.split("?sa=")[1])}</p>
                            </div>
                            <div class="plus">
                                <p>+</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <p>₹1100</p>
                    </div>
                </div>
                ```
            )
        }
    </script>
</body>
</html>