<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="otherlogo">
        <a href="./"><img src="../static/imgs/logo.svg" alt=""></a>
    </div>
    <div class="checkouthead">
        <p>Your food is being <span>prepared</span>.</p>
    </div>
    <div class="map">
        <iframe style="filter:invert(100%) hue-rotate(185deg) saturate(4)" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.5284526014248!2d77.07385067270232!3d28.463627875757386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d18e6fa2d35c7%3A0xa9f1fdca6e247b7a!2sDelhi%20Public%20School%20Sushant%20Lok%7C%20Best%20School%20in%20Gurgaon!5e0!3m2!1sen!2sin!4v1745810228019!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="summary">
        <img src="../static/imgs/conceptblur.svg" alt="" class="bgimg">
        <div class="summaryhead">
            <p>Order Summary</p>
        <div class="headings">
            <p>
                Name <br>
                Address <br>
                <br>
                Phone Number <br>
                <br>
                Order Number <br>
                Total Payment <br>

            </p>
        </div>
        <div class="subtext">
            <p>
                : David <br>
                : <br>
                <br>
                : +91 82937423XX <br>
                <br>
                : 001 <br>
                : ₹3520 <br>    
            </p>
        </div>
        <div class="receipt">
            <p>Download receipt</p>
        </div>
        <div class="call">
            <p>Call delivery man :
                <br><span>XXXXX 29219</span>
            </p>
        </div>
        <img src="../static/imgs/call.svg" alt="" class="callimg">
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?client=google-maps-embed&amp;paint_origin=&amp;libraries=geometry,search&amp;v=weekly&amp;loading=async&amp;language=en&amp;region=in&amp;callback=onApiLoad" nonce="" async="" defer=""></script>
    <script src="https://maps.gstatic.com/maps-api-v3/embed/js/60/10/init_embed.js"></script>
</body>
</html>