<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="login">
        <div class="head">
            <p>LOG <span>IN</span></p>
        </div>
        <form method=post>
            <div class="un">
                <div class="logo-un">
                    <div class="box-un">
                        <img src="../static/imgs/username.svg" alt="Username">
                    </div>
                </div>
                <input type="text" id = "uname" name="uname">
            </div><br>
            <div class="pw">
                <div class="logo-pw">
                    <div class="box-pw">
                        <img src="../static/imgs/password.svg" alt="Password">
                    </div>
                </div>
                <input type="password" id = "psw" name = "psw"><br>
                <div class="hs">
                    <div class="h">
                        <img src="../static/imgs/hidden.svg" alt="Hide Password">
                    </div>
                    <div class="s">
                        <img src="../static/imgs/shown.svg" alt="Show Password">
                    </div>
                </div>
            </div><br>
            <div class="redir-sign">
                <p>Don't have an account? <a href = "./register">Register</a></p>
            </div><br>
            <input type="submit" value = "Log in" class = "submit">
        </form>
    </div>
    <script>
        let psw = false;
        document.getElementsByClassName("hs")[0].addEventListener('click', () => {
            if(psw) {
                document.getElementsByClassName("h")[0].style.display = "none"
                document.getElementsByClassName("s")[0].style.display = "block"
                document.getElementById("psw").type = "password"
                psw = false;
            } else {
                document.getElementsByClassName("h")[0].style.display = "block"
                document.getElementsByClassName("s")[0].style.display = "none"
                document.getElementById("psw").type = "text"
                psw = true;
            }
        })
    </script>
</body>
</html>